
html, body {
    font-size: 12px;
    font-family: dotum;
    /*overflow: hidden;*/
    height:100%;
    margin: 0px;
}

#beatsbucket .player-area {
    position: absolute;
    float: right;
    top: 0px;
    right: 30px;
    width: 360px;
    height: 574px;
    background-color: aliceblue;
    border: 1px solid palevioletred;
}

#beatsbucket .player-area .ytplayer {
    width: 320px;
}

#beatsbucket .player-area .player_controls table {
    width: 100%;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    color: firebrick;
}

#beatsbucket .player-area .playlist {
    overflow: scroll;
    height:280px;
    border: 1px solid;
}

#beatsbucket .player-area .playlist p {
    margin: 0;
    padding: 0;
    cursor: pointer;
}

#beatsbucket .player-area .playlist p:hover {
    font-weight: bold;
}

#beatsbucket .player-area .controls .buttons{
    font-size: 14px;
    cursor: pointer;
    color: firebrick;
}

.controls .buttons:hover {
    font-weight: bold;
}

#beatsbucket .player-area .playlist_controls table {
    width: 100%;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    color: firebrick;
}

#beatsbucket .player-area .buttons:hover {
    color: red;
}

#beatsbucket .contents-area {
    position: absolute;
    top: 0px;
    float: right;
    right:400px;
    width:760px;

}

#beatsbucket .contents-area .header-area {
    width: 100%;
    height: 50px;
    border: 1px solid palevioletred;
}

#beatsbucket .contents-area .header-area span {
    font-size: 40px;
    font-family: Impact, Charcoal, sans-serif;
    font-weight: bold;
}

#beatsbucket .contents-area .body-area {
    width: 100%;
    /*height: 50px;*/
    padding: 0;
    margin: 0;
    border: 1px solid black;
}



#beatsbucket .contents-area .chart-area {
    width: 100%;
    height:30px;
    border: 1px solid palevioletred;
}

#beatsbucket .contents-area .chart-area nav ul li {
    padding: 0;
    margin: 0 20px 0 0;
    display: inline;
}

#beatsbucket .contents-area .chart-area .button{
    font-size: 12px;
    cursor: pointer;
    color: darkslateblue;
    font-weight: bold;
}

#beatsbucket .contents-area .body-area .side-menu-area {
    /*float: left;*/
    height: 430px;
    width: 160px;
    border: 1px solid palevioletred;
}

#beatsbucket .contents-area .body-area .search-result {
    /*float: left;*/
    overflow: scroll;
    height: 430px;
    width: 600px;
    background-color: aliceblue;
    border: 1px solid palevioletred;
}

#beatsbucket .contents-area .search-result .songTitle {
    font-size: 14px;
    font-weight: bold;
}

#beatsbucket .contents-area .search-result .plusButton {
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    color: steelblue;
}

#beatsbucket .contents-area .search-result .plusButton:hover {
    font-weight: bold;
}

#beatsbucket .contents-area .footer-area {
    width: 100%;
    height: 50px;
    border: 1px solid dodgerblue;
}

#beatsbucket .contents-area .footer-area span {
    float: right;
}

.media-line{
    background-color : inherit;
}

.media-line:hover{
    background-color : #FFFFFF;
}

.media-line td {
    padding : 10px;
    border-bottom : solid 1px #CCCCCC;
}

.media-line .song_name {

}

.media-line .singer {
    font-size: 8pt;
    color : #CCCCCC;
}