
html, body {
    font-size: 12px;
    font-family: dotum;
    overflow: hidden;
    height:100%;
}

#beatsbucket .contents-area {
    position: absolute;
    float: right;
    right:380px;
    width:760px;
}

#beatsbucket .contents-area .chart-area {

    width: 100%;
    height:30px;
}

#beatsbucket .contents-area .extra-info {
    float: right;

    height: 500px;
    width:380px;
}

#beatsbucket .contents-area .search-result {
    float: right;

    overflow: scroll;
    right: 380px;
    height: 500px;
    width: 380px;
}

header#page_header {
	width: 960px;
}

#search_bar {
	width: 640px;
}

header#page_header nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#beatsbucket .contents-area .chart-area nav ul li {
	padding: 0;
	margin: 0 20px 0 0;
	display: inline;
}




#beatsbucket .chart-area .button{
    font-size: 12px;
    cursor: pointer;
    color: darkslateblue;
    font-weight: bold;
}

#beatsbucket .contents-area .songTitle {
    font-size: 14px;
    font-weight: bold;
}

#beatsbucket .contents-area .plusButton {
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    color: steelblue;

}

.plusButton:hover {
    font-weight: bold;
}


#beatsbucket > .player-area{
    position:absolute;
    float: right;
    top:0;
    right:0;
    width:360px;
    height:100%;
}

#beatsbucket .player-area .playlist {
    overflow: scroll;
    height:200px;
    border: 1px solid;
}

#beatsbucket .player-area .playlist p {
    margin: 0;
    padding: 0;
    cursor: pointer;
}

#beatsbucket .player-area .playlist p:hover {
    font-weight: bold;
}

#beatsbucket .player-area .controls .buttons{
    font-size: 14px;
    cursor: pointer;
    color: firebrick;
}

.controls .buttons:hover {
    font-weight: bold;
}

#beatsbucket .player-area .ytplayer {
    width: 320px;
}

/*
#ytplayer {
    width: 320px;
}
*/
